RIVF2013=/path/to/rivf-2013/corpus

export UNSEGMENTED_CORPUS_TRAIN="$RIVF2013/Trainset-Segmentation-1-raw/*.raw"

export SEGMENTED_CORPUS_TRAIN="$RIVF2013/Trainset-Segmentation-1/*.seg"

export UNSEGMENTED_CORPUS_VALID="$RIVF2013/Trainset-Segmentation-2-raw/*.raw"

export SEGMENTED_CORPUS_VALID="$RIVF2013/Trainset-Segmentation-2/*.seg"

